/* Rodapé: */
.rodapé {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.titulo__rodape {
  font-size: 0.7em;
  padding-left: 1em;
}

.lista__rodape {
  display: flex;
}

.imagem__rodape {
  width: 5vw;
  padding-left: 0.5em;
}
