@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --cor-preto: #000000;
  --cor-de-fundo: #f2f2f2;
  --cor-branca: #ffffff;
  --cinza-claro: #858585;
  --cinza: #d9d9d9;

  --fonte-principal: "Poppins";
  --fonte-secundaria: "Josefin Sans";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
  margin: 1em 2em;
}

.cabecalho {
  padding: 0.5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-lista {
  display: flex;
  gap: 1em;
  font-size: 0.7em;
  padding: 1em;
}

.lista-menu__link {
  text-decoration: none;
  color: var(--cor-preto);
}

/* Banner */
.banner {
  background-color: var(--cinza);
  border-radius: 2px;
}

h1 {
  font-family: var(--fonte-secundaria);
  font-size: 3em;
  color: var(--cor-branca);
  text-align: center;
  padding: 2.5em 2em;
}
