@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --cor-preto: #000000;
  --cor-de-fundo: #f2f2f2;
  --cor-branca: #ffffff;
  --cinza-claro: #858585;
  --cinza: #d9d9d9;

  --fonte-principal: "Poppins";
  --fonte-secundaria: "Josefin Sans";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
  margin: 1em 2em;

  height: 200vh; /* altura de 200% da viewport */
  overflow-y: auto; /* ativa scroll vertical */
}

h1 {
  font-family: var(--fonte-secundaria);
  font-size: 3em;
  color: var(--cor-branca);
  text-align: center;
}

a {
  color: var(--cor-preto);
}

/* Titulos Padrão da Página */
.titulo {
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-preto);
}

/* Cabecalho */
.cabecalho {
  padding: 0.5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-lista {
  display: flex;
  gap: 1em;
  font-size: 0.7em;
  padding: 1em;
  color: var(--cor-preto);
}

.menu__cabecalho-link {
  color: var(--cor-preto);
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: var(--cinza);
  border-radius: 2px;
  width: 100%;
}

/* Produtos */
.container__produtos {
  background-color: var(--cor-branca);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  width: 15vw;
  padding: 1em 0.5em 1em 0.5em;
}

.titulo-produtos {
  margin-top: 2em;
}
.menu-produtos {
  display: flex;
  gap: 1em;
  padding: 1em;
  justify-content: center;
}

.menu__produto-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.descricao__produtos {
  margin: 0.5em;

  font-family: var(--fonte-principal);
  font-weight: 400;
  color: var(--cor-preto);
  font-size: 0.5em;
}

.texto {
  background-color: var(--cor-branca);
  font-family: var(--fonte-principal);
  font-weight: 400;
  color: var(--cor-preto);
  font-size: 0.9em;
  padding: 1em;
  width: 100%;
}

/* Rodapé: */
